@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --colors-primary: #3c6839;
  --colors-on-surface: #191d17;
  --colors-on-surface-variant: #424940;
  --colors-on-primary: #ffffff;
  --colors-surface-container-highest: #e0e4db;
  --colors-surface-container: #ecefe6;
  --colors-surface: #f7fbf1;

  --shape-extra-small: 4px;
  --shape-small: 8px;
  --shape-medium: 12px;
  --shape-large: 16px;
  --shape-extra-large: 28px;
  --shape-full: 9999px;

  --profile-picture-size: 256px;
}

.typography-display-large,
h1 {
  font-family: Roboto;
  font-size: 57px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.typography-display-medium,
h2 {
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
}

.typography-display-small,
h3 {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.typography-headline-large,
h4 {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.typography-headline-medium,
h5 {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.typography-headline-small,
h6 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.typography-title-medium {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.typography-body-large {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.typography-body-medium,
p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

html {
  height: 100vh;
  display: flex;
  flex: 1;
}

body {
  display: flex;
  flex: 1;
  gap: 24px;
  background-color: var(--colors-surface);
  margin: 0;
  padding: 24px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--profile-picture-size);
}

#profile-picture-container {
  display: flex;
  flex-direction: column;
  background-color: var(--colors-surface-container-highest);
  border-radius: var(--shape-extra-large);
}

#profile-picture {
  width: var(--profile-picture-size);
  height: var(--profile-picture-size);
  border-radius: var(--shape-extra-large);
}

#social-icons {
  display: flex;
  justify-content: space-between;
  color: var(--colors-primary);
  padding: 24px;
}

#sidebar-info-container {
  padding: 32px 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.sidebar-info {
  color: var(--colors-on-surface-variant);
  text-align: center;
}

#sidebar-footer {
  display: flex;
  align-items: end;
  flex: 1;
}

#page-source-link {
  color: var(--colors-primary);
}

#content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--colors-surface-container-highest);
  border-radius: var(--shape-full);
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4px;
  padding: 24px 16px;
  text-decoration: none;
  color: var(--colors-primary);
  border-radius: var(--shape-full);
}

.nav-link.active {
  background-color: var(--colors-primary);
  color: var(--colors-on-primary);
}

.nav-icon {
  display: flex;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.markdown {
  flex: 1;
  padding: 16px;
  max-width: 1024px;
}
