@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --colors-primary: #3c6839;
  --colors-on-surface: #191d17;
  --colors-on-surface-variant: #424940;
  --colors-on-surface-variant-20: #42494033;
  --colors-on-surface-variant-40: #42494066;
  --colors-on-primary: #ffffff;
  --colors-surface-container-highest: #e0e4db;
  --colors-surface-container: #ecefe6;
  --colors-surface: #f7fbf1;
  --colors-scrim: #00000066;

  --opacity-hover: 20%;

  --shape-extra-small: 4px;
  --shape-small: 8px;
  --shape-medium: 12px;
  --shape-large: 16px;
  --shape-extra-large: 28px;
  --shape-full: 9999px;

  --profile-picture-size: 256px;
  --social-icon-hover-size: 64px;
  --menu-social-icon-hover-size: 48px;
  --icon-size: 24px;
}

[data-theme="dark"] {
  --colors-primary: #a2d399;
  --colors-on-surface: #e0e4db;
  --colors-on-surface-variant: #c2c8bd;
  --colors-on-surface-variant-20: #c2c8bd33;
  --colors-on-surface-variant-40: #c2c8bd66;
  --colors-on-primary: #0b390f;
  --colors-surface-container-highest: #323630;
  --colors-surface-container: #1d211b;
  --colors-surface: #10140f;
  --colors-scrim: #00000066;
}

* {
  box-sizing: border-box;
}

.typography-display-large,
h1 {
  font-family: Roboto;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  color: var(--colors-on-surface);
}

.typography-display-medium,
h2 {
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  padding-top: 32px;
  color: var(--colors-on-surface);
}

.typography-display-small,
h3 {
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  color: var(--colors-on-surface);
}

.typography-headline-large,
h4 {
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  color: var(--colors-on-surface);
}

.typography-headline-medium,
h5 {
  font-family: Roboto;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  color: var(--colors-on-surface);
}

.typography-headline-small,
h6 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  color: var(--colors-on-surface);
}

.typography-title-medium {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  color: var(--colors-on-surface);
}

.typography-body-large {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: var(--colors-on-surface);
}

.typography-body-medium,
p,
body {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--colors-on-surface);
}

html {
  height: 100dvh;
  width: 100%;
  background-color: var(--colors-surface);
}

body {
  z-index: 1;
  display: flex;
  margin: auto;
  flex: 1;
  background-color: var(--colors-surface);
  padding: 0 24px;
}

#backdrop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: var(--colors-scrim);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition:
    opacity 0.4s ease-out,
    visibility 0.4s ease-out;
}

#sidebar {
  position: sticky;
  top: 0;
  padding: 24px 0;
  height: 100dvh;
  display: flex;
  margin-right: 24px;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  max-width: var(--profile-picture-size);
}

#hamburger-close {
  display: none;
}

#profile-picture-container {
  display: flex;
  flex-direction: column;
  background-color: var(--colors-surface-container-highest);
  border-radius: var(--shape-extra-large);
}

#profile-picture {
  width: var(--profile-picture-size);
  height: var(--profile-picture-size);
  border-radius: var(--shape-extra-large);
}

#social-icons {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.social-icon-container {
  display: flex;
  position: relative;
  color: var(--colors-primary);
}

.social-icon-hover {
  visibility: hidden;
  position: absolute;
  width: var(--social-icon-hover-size);
  height: var(--social-icon-hover-size);
  border-radius: var(--shape-full);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: transparent;
  transition:
    visibility 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.social-icon-container:hover .social-icon-hover {
  visibility: visible;
  background-color: var(--colors-on-surface-variant-20);
}

.social-icon-hover.active {
  background-color: var(--colors-on-surface-variant-40) !important;
}

#sidebar-info-container {
  padding: 32px 0;
  display: flex;
  width: var(--profile-picture-size);
  gap: 8px;
  flex-direction: column;
}

.sidebar-info {
  color: var(--colors-on-surface-variant);
  text-align: center;
}

#sidebar-footer {
  display: flex;
  align-items: end;
  flex: 1;
}

#theme-toggle {
  display: flex;
  position: relative;
  width: var(--icon-size);
  height: 24px;
  color: var(--colors-on-surface-variant);
}

#theme-toggle-hover {
  visibility: hidden;
  background-color: transparent;
  padding: 12px;
  border-radius: var(--shape-full);
  transition:
    visibility 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

#theme-toggle > div {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
}

#theme-toggle-hover:hover {
  visibility: visible;
  background-color: var(--colors-on-surface-variant-20);
}

#theme-toggle-hover.active {
  background-color: var(--colors-on-surface-variant-40);
}

#theme-toggle-light {
  visibility: hidden;
}

#theme-toggle-dark {
  visibility: visible;
}

[data-theme="dark"] #theme-toggle-light {
  visibility: visible;
}

[data-theme="dark"] #theme-toggle-dark {
  visibility: hidden;
}

#content {
  background-color: var(--colors-surface);
  display: flex;
  max-width: 100%;
  flex: 1;
  flex-direction: column;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  padding-top: 24px;
  background-color: var(--colors-surface);
  gap: 16px;
  flex-direction: column;
}

#menu-bar {
  display: none;
  color: var(--colors-on-surface-variant);
  padding: 8px;
}

#hamburger-open {
  display: flex;
  cursor: pointer;
}

#menu-social-icons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 16px;
}

.menu-social-icon-container {
  display: flex;
  position: relative;
  color: var(--colors-on-surface-variant);
}

.menu-social-icon-hover {
  visibility: hidden;
  position: absolute;
  width: var(--menu-social-icon-hover-size);
  height: var(--menu-social-icon-hover-size);
  border-radius: var(--shape-full);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: transparent;
  transition:
    visibility 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.menu-social-icon-container:hover .menu-social-icon-hover {
  visibility: visible;
  background-color: var(--colors-on-surface-variant-20);
}

.menu-social-icon-hover-active {
  background-color: var(--colors-on-surface-variant-40) !important;
}

#menu-social-icons > a > svg {
  height: 24px;
  width: 24px;
}

nav {
  display: flex;
  flex: 1;
  overflow-x: auto;
  background-color: var(--colors-surface-container-highest);
  border-radius: var(--shape-full);
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4px;
  padding: 24px 16px;
  text-decoration: none;
  color: var(--colors-primary);
  border-radius: var(--shape-full);
}

.nav-link.active {
  background-color: var(--colors-primary);
  color: var(--colors-on-primary);
}

.nav-link:not(.active) {
  transition: background-color 0.2s ease-in-out;
  background-color: transparent;
}

.nav-link:not(.active):hover {
  background-color: var(--colors-on-surface-variant-20);
}

.nav-link-pressed {
  background-color: var(--colors-on-surface-variant-40) !important;
}

.nav-icon {
  display: flex;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.markdown {
  flex: 1;
  padding: 0 16px;
  max-width: 1024px;
}

.markdown p:has(img) {
  display: flex;
  justify-content: center;
}

.markdown img {
  max-width: 100%;
  max-height: 512px;
  margin-bottom: 32px;
  border-radius: var(--shape-small);
}

.markdown a {
  color: var(--colors-primary);
}

@media (max-width: 1024px) {
  body {
    padding: 0 16px;
  }

  #sidebar.active + #backdrop {
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.4s ease-out,
      visibility 0s linear;
  }

  #sidebar:not(.active) + #backdrop {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.4s ease-out,
      visibility 0s linear 0.4s;
  }

  #sidebar {
    z-index: 1;
    position: absolute;
    display: flex;
    margin-right: 0;
    top: 0;
    padding: 16px;
    background-color: var(--colors-surface);
    left: -100%;
    height: 100%;
    max-width: none;
    border-radius: 0 var(--shape-medium) var(--shape-medium) 0;
    transition: left 0.4s ease-out;
    visibility: hidden;
  }

  #sidebar.active {
    left: 0;
    visibility: visible;
  }

  #sidebar:not(.active) {
    transition:
      left 0.4s ease-out,
      visibility 0s linear 0.4s;
  }

  #hamburger-close {
    display: flex;
    cursor: pointer;
    align-self: flex-start;
    padding: 8px;
    margin-bottom: 16px;
    color: var(--colors-on-surface-variant);
  }

  #menu-bar {
    display: flex;
  }
  
  header {
    padding-top: 16px;
  }
}

@media (min-width: 1920px) {
  body {
    max-width: calc(100dvh * (16 / 9));
  }
}
